<p id="notice"><%= notice %></p>

<html lang="pt-br">
<div id="main-container" class="container" style="text-align: left">
  <div class="row">

  <div class="Unidade">
      <h1>Unidades</h1>
      <table>
        <tbody>
          <% @unidades.each do |unidade| %>
        <tr>
          <td><div class="botaoPadrao Espaco"><%= link_to unidade.descricao + ':   ' + unidade.area.descricao , unidade_disciplinas_path(unidade.id),  style: "color:#FFF;"%></div></td>
        </tr>
      <% end %>
        </tbody>
      </table>
    <%= will_paginate @unidades %>
  </div>

<br>
  </div>
</div>

