<p id="notice"><%= notice %></p>

<h1>Unidades</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unidades.each do |unidade| %>
      <tr>
        <td><%= unidade.descricao %></td>
        <td><%= unidade.area.descricao %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


