<p id="notice"><%= notice %></p>

<html lang="pt-br">
<div id="main-container" class="container" style="text-align: left">
  <div class="row">
    
     <div class="Disciplina">
      <h1>Disciplinas</h1>
      <table>
        <tbody>
          <% @disciplinas.each do |disciplina| %>
        <tr>
           
          <td><div class="botaoPadrao"><%= link_to disciplina.descricao + ':   ' +  disciplina.sigla , disciplina_path(disciplina.id),  style: "color:#FFF;"%></div></td>
          
       
        <% end %>
         
        </tbody>  
       <td><div class="botaoPadrao"><%= link_to 'Nova Displina', new_disciplina_path, style: "color: #FFF;" %></div></td>
       
        </tr>
       
      </table>
       
  </div>
 
</div>

</div>

<%= will_paginate @disciplinas %>