<p id="notice"><%= notice %></p>

<html lang="pt-br">
<div id="main-container" class="container" style="text-align: left">
  <div class="row">

    <div class="Conteudo">
      <h1>Áreas</h1>

      <table class="TabelaAreas">


        <tbody>

        <% @areas.each do |area| %>
            <tr>
              <td><%= area.descricao%></td>
              <td><%= link_to 'Unidades', area_unidades_path(area.id),  class:'botaoPadrao' %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>

<%= will_paginate @areas %>