<p id="notice"><%= notice %></p>

<div id="main-container" class="container" style="text-align: left">
  <div class="row">

    <div class="Conteudo">
      <h1>Ãreas</h1>

      <table class="TabelaAreas">


        <tbody>

        <% @areas.each do |area| %>
            <tr>
            <td><div class="botaoPadrao"= ><%= link_to area.descricao, area_unidades_path(area.id), style:"color:#FFF;"%></div></td>
            </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>

<%= will_paginate @areas %>