/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  
}

.All{
  width:100%;
  height:100%;
  min-height:100%;
  position:relative;

}
  .MenuAplicacao{
  background-color:#22313F;
  transition:all 0.2s linear;
  color:#FFF;
  text-align:center;
  box-shadow:4px 4px 5px #6C7A89;
  border:none;
  border-radius:0;
}
.MenuAplicacao:hover{
  background-color:#3A539B;
  transition:all 0.2s linear;

}
.ItemMenu{
  transition:all 0.2s linear;
  padding-right:20px;
  padding-left:20px;
}
.ItemMenu:hover{
  border-bottom:5px solid #22313F;
  transition:all 0.2s linear;
}
.MenuAplicacao a{
  color:#FFF !important;
  text-decoration:none !important;
}
.login{
  float:right;
}

.login:hover{
  border-bottom:5px solid #22313F;
  transition:all 0.2s linear;
}

body{
  background:#EEEEEE;

}
.botaoPadrao{
  background:#22313F;
  padding:8px;
  border-radius:3px;
  color:#FFFF;
  cursor:pointer;
  text-decoration:none;
  transition:all 0.2s linear;
}
.botaoPadrao:hover{
  background:#3A539B;
  color:#FFF;
  text-decoration:none;
  transition:all 0.2s linear;
  border-radius:5px;
}


footer {
  background: #22313F;
  color: #FFF;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  

   
}

.Direita{
  padding-right:10px;
  float:right;
}

.Esquerda{
  float:left;
  padding-left:10px;
}

.ConteudoCentro{
  position:absolute;
  padding-right:15px;
  padding-top:10px !important;
}


