// Place all the styles related to the areas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: helveticaneue;
  src: url('https://fonts.googleapis.com/css?family=Indie+Flower');
}

.Fonte{
  font-family: 'Indie Flower', cursive;
}

.Conteudo{
  margin:0 auto;
  width:900px;
  text-align:center;
}
.Conteudo table{
  margin:0 auto;
  margin-top:30px;
}
.Conteudo td{
  padding:1px;
}



