// Place all the styles related to the unidades controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.Unidade{
  margin:0 auto;
  width:900px;
  text-align:center;
}

.Unidade table{
  margin:0 auto;
}

.Unidade td{
  padding:1px;
}

