<%= form_for(inicio) do |f| %>
  <% if inicio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inicio.errors.count, "error") %> prohibited this inicio from being saved:</h2>

      <ul>
      <% inicio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
