<p>Olá! <%= @resource.email %>!</p>

<p>Você solicitou alterar sua senha através de um link. Clique abaixo para realizar este processo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou isso, ignore este e-mail.</p>
<p>Sua senha não será alterada até que você acesse o link acima e crie um novo.</p>
